/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== *

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}


/* Overlay Container */
.overlay-container {
  background: rgba(36, 49, 64, 0.85);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
}
.overlay-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
header {
  /*background-color: #007bff;*/
  /*color: #fff;*/
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  padding-bottom: 15px;
}

.text-gradient {
  font-size: 2.5em;
  font-weight: bold;
  /* Green and blue gradient for text */
  background: -webkit-linear-gradient(left, #22c1c3, #fdbb2d, #22c1c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

header p {
  margin: 0;
  padding: 0 20px;
}

section {
  /*padding: 10px;*/
  /*margin: 10px 0;*/
}

#amountInputForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 16px;
  margin-top: 20px;
}

/*#amountInputForm > div {*/
/*  margin-bottom: 10px;*/
/*}*/

@media (max-width: 1210px) {
  #amountInputForm {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;

    button {
      width: 100%;
    }

    input, select {
      width: calc(100% - 16px)
    }
  }
}

#amountInputForm label {
  margin-right: 8px;
}

#amountInputForm input,
#amountInputForm select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #44545c; 
    border-radius: 4px;
    background-color: #16222a; 
    color: #ffffff;
}

#amountInputForm button {
  padding: 10px 20px;
  background-color: #1f2f2a; 
  border: 2px solid #4ca2cd; 
  font-size: 18px;
  color: #4ca2cd;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#amountInputForm button:hover {
  background-color: #4ca2cd; 
  color: #1f2f2a; 
}

#chartsContainer {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #5d737e; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  background-color: #16222a;
  padding: 16px;
  color: #ffffff; 
}

.line {
  fill: none;
  stroke: #38ef7d; 
  stroke-width: 2px;
}
.line.future {
  stroke: #11998e; 
  stroke-dasharray: 3, 3;
}

.bar {
  fill: #38ef7d;
}
.bar.future {
  fill: #11998e; 
}
.axis path,
.axis line {
  fill: none;
  stroke: #5d737e;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: #0f2027; 
  color: #ffffff; 
  border: solid 1px #5d737e; 
  padding: 5px;
}

footer {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  header p, #amountInputForm label, #amountInputForm input, #amountInputForm button {
    padding: 8px;
  }
}

.inflation-description {
  width: 90%;
  margin: auto;
  font-size: 16px; 
  line-height: 1.6; 
  text-align: justify;
}


.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button {
  padding: 16px 30px;
  background-image: linear-gradient(45deg, #11998e, #38ef7d);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-image: linear-gradient(45deg, #38ef7d, #11998e);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

